%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%%% node_package packaging config, cf. https://github.com/basho/node_package
{package_name, "workbench"}.
{package_install_name, "workbench"}.
{package_install_user, "workbench"}.
{package_install_group, "workbench"}.
{package_install_user_desc, "Erlang distribution workbench user"}.
{package_shortdesc, "A 'workbench' application for investigating the properties of Erlang distribution."}.
{package_desc, "See https://github.com/emauton/dist_workbench."}.
{package_commands, {list, [[{name, "workbench"}], [{name, "workbench-admin"}]]}}.
{bin_or_sbin, "sbin"}.
{license_type, "Apache 2.0"}.
{copyright, "2015 Cian Synnott <cian@emauton.org>"}.
{vendor_name, "Cian Synnott <cian@emauton.org>"}.
{vendor_url, "http://emauton.org/"}.
{vendor_contact_name, "Cian Synnott"}.
{vendor_contact_email, "cian@emauton.org"}.
