%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
%% See https://github.com/basho/node_package

%% Platform-specific installation paths
{platform_bin_dir,  "./bin"}.
{platform_data_dir, "./data"}.
{platform_etc_dir,  "./etc"}.
{platform_lib_dir,  "./lib"}.
{platform_log_dir,  "./log"}.

%%
%% etc/app.config
%%
{ring_state_dir,        "{{platform_data_dir}}/ring"}.
{ring_creation_size,    "64"}.
{web_ip,                "0.0.0.0"}.
{web_port,              "8105"}.
{handoff_ip,            "0.0.0.0"}.
{handoff_port,          "8104"}.
{pb_port,               "8103"}.

%%
%% etc/vm.args
%%
{node,                  "workbench@127.0.0.1"}.
{crash_dump,            "{{platform_log_dir}}/erl_crash.dump"}.

%% lager
{console_log_default, file}.

%%
%% cuttlefish
%%
{cuttlefish,         "on"}.
{cuttlefish_conf,    "workbench.conf"}.

%%
%% bin/workbench
%%
{runner_script_dir,  "\`cd \\`dirname $0\\` && /bin/pwd\`"}.
{runner_base_dir,    "{{runner_script_dir}}/.."}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{runner_lib_dir,     "$RUNNER_BASE_DIR/lib"}.
{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,        ""}.
{runner_wait_process, "workbench_metrics_sup"}.
{runner_ulimit_warn, 65536}.
